*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog-wrapper{
    max-width: 500px;
    margin: auto;
}

.close-modal{
    margin-left: 469px;
    margin-top: 13px;
}

.dialog-wrapper h2{
    text-align: center;
    margin-bottom: 40px;
}

.dialog-wrapper h2 span{
    color: #46A358;
    margin-left: 13px;
    border-left: 1px solid black;
    padding-left: 13px;
}

.form-wrapper{
    margin-left: 100px;
}

.form-wrapper p{
    margin-bottom: 14px;
    text-align: left;
}

.input-text{
    width: 300px;
    height: 40px;
    margin-bottom: 16px;
}

.input-email{
    width: 300px;
    height: 40px;
    margin-bottom: 16px;
}

.input-password{
    width: 300px;
    height: 40px;
    margin-bottom: 16px;
}

.input-confirm-password{
    width: 300px;
    height: 40px;
    margin-bottom: 41px;
}

.btn{
    width: 300px;
    height: 45px;
    margin-bottom: 36px;
    padding: 16px 118px 13px 119px;
    background-color: #46A358;
    color: white;
    border: none;
    border-radius: 5px;
}

.text{
    text-align: center;
    margin-bottom: 27px;
    color: #3D3D3D;
}

.reg-wrapper{
    text-align: center;
}

.google-reg-wrapper{
    margin-bottom: 15px;
}

.google-reg-wrapper a{
    text-decoration: none;
    color: #727272;
}

.reg-wrapper a{
    text-decoration: none;
    color: #727272;
}

header{
    margin-bottom: 12px;
    padding-top: 30px;
}

header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
}

header nav ul li a{
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
}

header .login{
    background: #46a358;
    border-radius: 6px;
    padding: 7px 17px;
    display: flex;
    align-items: center;
    font-family: "Cera Pro", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}

header .login svg{
    margin-right: 4px;
}

header .login svg path{
    transition: 0.4s;
}

header .login:hover{
    background-color: white;
    color: #46A358;
}

header .login:hover svg path{
    stroke: #46A358;
}

.banner .container{
    padding-left: 40px;
}

.banner .container h3{
    font-family: "Cera Pro", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 7px;
}

.banner .container h1{
    font-family: "Cera Pro", sans-serif;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 5px;
}

.banner .container h1 span{
    color: #46a358;
}

.banner .container p{
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
}

.banner .container .btn_shop{
    font-family: "Cera Pro", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 26px;
    background-color: #46a358;
    text-decoration: none;
    border-radius: 6px;
    height: 40px;
    transition: 0.4s;
}

.banner .container .btn_shop:hover{
    background-color: white;
    color: #46A358;
}