@font-face {
    font-family: 'cera_proregular';
    src: url('../fonts/regular/cerapro-regular-webfont.eot');
    src: url('../fonts/regular/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/regular/cerapro-regular-webfont.woff2') format('woff2'),
    url('../fonts/regular/cerapro-regular-webfont.woff') format('woff'),
    url('../fonts/regular/cerapro-regular-webfont.ttf') format('truetype'),
    url('../fonts/regular/cerapro-regular-webfont.svg#cera_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cera_probold';
    src: url('../fonts/bold/cerapro-bold-webfont.eot');
    src: url('../fonts/bold/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bold/cerapro-bold-webfont.woff2') format('woff2'),
    url('../fonts/bold/cerapro-bold-webfont.woff') format('woff'),
    url('../fonts/bold/cerapro-bold-webfont.ttf') format('truetype'),
    url('../fonts/bold/cerapro-bold-webfont.svg#cera_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cera_problack';
    src: url('../fonts/black/cerapro-black-webfont.eot');
    src: url('../fonts/black/cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/black/cerapro-black-webfont.woff2') format('woff2'),
    url('../fonts/black/cerapro-black-webfont.woff') format('woff'),
    url('../fonts/black/cerapro-black-webfont.ttf') format('truetype'),
    url('../fonts/black/cerapro-black-webfont.svg#cera_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog-wrapper{
    max-width: 500px;
    margin: auto;
}

.close-modal{
    margin-left: 469px;
    margin-top: 13px;
}

.dialog-wrapper h2{
    text-align: center;
    margin-bottom: 40px;
}

.dialog-wrapper h2 span{
    color: #46A358;
    margin-left: 13px;
    border-left: 1px solid black;
    padding-left: 13px;
}

.form-wrapper{
    margin-left: 100px;
}

.form-wrapper p{
    margin-bottom: 14px;
    text-align: left;
}

.input-text{
    width: 300px;
    height: 40px;
    margin-bottom: 16px;
}

.input-email{
    width: 300px;
    height: 40px;
    margin-bottom: 16px;
}

.input-password{
    width: 300px;
    height: 40px;
    margin-bottom: 16px;
}

.input-confirm-password{
    width: 300px;
    height: 40px;
    margin-bottom: 41px;
}

.btn{
    width: 300px;
    height: 45px;
    margin-bottom: 36px;
    padding: 16px 118px 13px 119px;
    background-color: #46A358;
    color: white;
    border: none;
    border-radius: 5px;
}

.text{
    text-align: center;
    margin-bottom: 27px;
    color: #3D3D3D;
}

.reg-wrapper{
    text-align: center;
}

.google-reg-wrapper{
    margin-bottom: 15px;
}

.google-reg-wrapper a{
    text-decoration: none;
    color: #727272;
}

.reg-wrapper a{
    text-decoration: none;
    color: #727272;
}

header{
    margin-bottom: 12px;
    padding-top: 30px;
}

header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
}

header nav ul li a{
    font-family: "cera_proregular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
}

header .login{
    background: #46a358;
    border-radius: 6px;
    padding: 7px 17px;
    display: flex;
    align-items: center;
    font-family: "cera_proregular", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}

header .login svg{
    margin-right: 4px;
}

header .login svg path{
    transition: 0.4s;
}

header .login:hover{
    background-color: white;
    color: #46A358;
}

header .login:hover svg path{
    stroke: #46A358;
}

.banner .container{
    padding-left: 40px;
    margin-bottom: 26px;
}

.banner .container h3{
    font-family: "cera_proregular", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 7px;
}

.banner .container h1{
    font-family: "cera_problack", sans-serif;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 5px;
}

.banner .container h1 span{
    color: #46a358;
}

.banner .container p{
    font-family: "cera_proregular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
}

.banner .container .btn_shop{
    font-family: "cera_probold", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 26px;
    background-color: #46a358;
    text-decoration: none;
    border-radius: 6px;
    height: 40px;
    transition: 0.4s;
}

.banner .container .btn_shop:hover{
    background-color: white;
    color: #46A358;
}

.catalog .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 94px;
}

.categories{
    max-width: 310px;
    padding-top: 14px;
    background-color: #fbfbfb;
}

.catalog .categories h3{
    flex-basis: 310px;
    margin-left: 18px;
    margin-bottom: 7px;
    font-family: "cera_probold", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
}

.catalog .categories ul li a{
    text-decoration: none;
    font-family: "cera_proregular", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 267%;
    color: #3d3d3d;
    transition: 0.4s;
}

.catalog .categories ul li a:hover{
    font-weight: 700;
    color: #46a358;
    transition: 0.4s;
}

.catalog .categories ul{
    margin-bottom: 377px;
    margin-left: 30px;
}

.catalog .products{
    max-width: 840px;
}

.catalog .products .products_sorting{
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}

.catalog .products .products_sorting ul li a{
    font-family: "cera_proregular", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    transition: 0.4s;
    text-decoration: none;
    margin-right: 40px;
}


.catalog .products .products_sorting ul li a:hover{
    font-family: "cera_proregular", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 107%;
    color: #46a358;
    transition: 0.4s;
    text-decoration: none;
    border-bottom: 2px solid #46a358;
    width: 65px;
    height: 1px;
}

.catalog .products .products_sorting ul{
    display: flex;
}

.catalog .products .products_sorting p{
    font-family: "cera_proregular", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}

.catalog .products .products_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 90px;
}

.catalog .products .products_cards .card{
    flex-basis: 258px;
    margin-bottom: 70px;
    border-top: 1px solid transparent;
    position: relative;
}

.catalog .products .products_cards .card ul{
    display: flex;
    gap: 10px;
    position: relative;
}

.catalog .products .products_cards .card ul li{
    position: absolute;
    left: 67px;
    top: 233px;
}

.catalog .products .products_cards .card:hover{
    border-top: 1px solid #46A358;
}

.catalog .products .products_cards .card .discount{
    font-family: "cera_proregular", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    background-color: #46A358;
    padding: 6px 8px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 14px;
}

.catalog .products .products_cards .card a img{
    width: 258px;
    margin-bottom: 12px;
    background-color: #fbfbfb;
}

.catalog .products .products_cards .card a span{
    display: inline-block;
    margin-bottom: 6px;
    font-family: "cera_proregular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    text-decoration: none;
}


.catalog .products .products_cards .card p span{
    font-family: "cera_probold", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
    text-decoration: none;
    margin-right: 16px;
}

.catalog .products .products_cards .card div{
    display: flex;
}

.catalog .products .products_cards .card div .old_price{
    font-family: "cera_proregular", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 89%;
    color: #a5a5a5;
    text-decoration: line-through;
}


.catalog .products .products_cards .card a{
    text-decoration: none;
}

.catalog .products .products_cards .card a span:hover{
    color: #46a358;
    transition: 0.4s;
}

.catalog .products .pagination{
    display: flex;
    justify-content: flex-end;
}

.catalog .products .pagination ul{
    display: flex;
    gap: 10px;
}

.catalog .products .pagination ul li a{
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    font-family: 'cera_proregular', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.catalog .products .pagination ul li:hover a{
    background: #46a358;
    font-family: 'cera_probold', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    transition: 0.4s;
}

.catalog .products .pagination ul li:hover a svg path{
    stroke: #fff;
    transition: 0.4s;
    stroke-width: 2.5;
}

.promo .container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 138px;
}

.promo .container .promo_products{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fbfbfb;
    padding-right: 30px;
    max-width: 586px;
    height: 250px;
}


.promo .container .promo_products img{
    position: relative;
    top: -22px;
    width: 274px;
    height: 292px;
}

.promo .container .promo_products .promo_product{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 292px;
}

.promo .container .promo_products .promo_product h3{
    font-family: 'cera_problack', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
    margin-bottom: 9px;
}

.promo .container .promo_products .promo_product p{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
    margin-bottom: 25px;
}

.promo .container .promo_products .promo_product .btn_find_more{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    background: #46a358;
    border-radius: 6px;
    padding: 10px 28px;
    text-decoration: none;
    transition: 0.4s;
}

.promo .container .promo_products .promo_product .btn_find_more:hover{
    background-color: white;
    color: #46A358;
    transition: 0.4s;
}

.promo .container .promo_products .promo_product .btn_find_more:after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('../images/Arrow_Right.svg');
    position: relative;
    top: 4px;
    margin-left: 2px;
    transition: 0.4s;
}

.promo .container .promo_products .promo_product .btn_find_more:hover:after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('../images/Arrow_Right_Green_Find_More.svg');
    position: relative;
    top: 4px;
    margin-left: 2px;
    transition: 0.4s;
}

.blog_posts .container{
    display: block;
    margin-bottom: 100px;
}

.blog_posts .container h2{
    font-family: 'cera_probold', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    margin-bottom: 15px;
}

.blog_posts .container p{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
    margin-bottom: 35px;
}

.blog_posts .container .posts{
    display: flex;
    justify-content: space-between;
}

.blog_posts .container .posts .post{
    max-width: 268px;
    background: #fbfbfb;
    padding-bottom: 13px;
}

.blog_posts .container .posts .post img{
    margin-bottom: 9px;
}

.blog_posts .container .posts .post h4{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    margin-bottom: 4px;
    margin-left: 15px;
}

.blog_posts .container .posts .post h3{
    font-family: 'cera_probold', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    margin-bottom: 4px;
    margin-left: 15px;
}

.blog_posts .container .posts .post p{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    margin-bottom: 9px;
    margin-left: 15px;
    text-align: left;
}

.blog_posts .container .posts .post .btn_blog_post{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    text-decoration: none;
    margin-left: 15px;
    transition: 0.4s;
}

.blog_posts .container .posts .post .btn_blog_post:hover{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    transition: 0.4s;
}

.blog_posts .container .posts .post .btn_blog_post:after{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../images/Arrow_Right_Black.svg');
    position: relative;
    top: 5px;
    margin-right: 3px;
    transition: 0.4s;
}

.blog_posts .container .posts .post .btn_blog_post:hover:after{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../images/Arrow_Right_Green.svg');
    position: relative;
    top: 5px;
    margin-right: 3px;
    transition: 0.4s;
}

